services:
  traefik:
    image: traefik
    container_name: traefik
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/data/traefik/traefik.yml:/etc/traefik/traefik.yml"
      - "/data/traefik/dynamic.yml:/etc/traefik/dynamic.yml"
      - "/data/traefik/acme.json:/data/acme.json"

    labels:
      # Middleware for basic auth
      - "traefik.http.middlewares.test-auth.basicauth.users={{ user.login }}:{{ user.passwd }}"

      # Middleware for redirecting HTTP to HTTPS
      - "traefik.http.middlewares.test-redirectscheme.redirectscheme.scheme=https"
      - "traefik.http.middlewares.test-redirectscheme.redirectscheme.permanent=true"

      # HTTP router for redirection (non-TLS)
      - "traefik.http.routers.http_catchall.rule=Host(`{{ traefik_domain }}`)"
      - "traefik.http.routers.http_catchall.entrypoints=web"
      - "traefik.http.routers.http_catchall.middlewares=test-redirectscheme"

      # Dashboard router (TLS)
      - "traefik.http.routers.dashboard.rule=Host(`{{ traefik_domain }}`)"
      - "traefik.http.routers.dashboard.middlewares=test-auth,test-redirectscheme"
      - "traefik.http.routers.dashboard.service=dashboard@internal"
      - "traefik.http.routers.dashboard.tls.certresolver=myresolver"
      - "traefik.http.routers.dashboard.tls=true"

      # API router (TLS)
      - "traefik.http.routers.api.rule=Host(`{{ traefik_domain }}`) && PathPrefix(`/api`)"
      - "traefik.http.routers.api.service=api@internal"
      - "traefik.http.routers.api.tls=true"
      - "traefik.http.routers.api.tls.certresolver=myresolver"
      
      