http:
  middlewares:
    httpsonly:
      redirectScheme:
        scheme: https
        permanent: true

    basicauth:
      basicAuth:
        users:
          - "{{ user.login }}:{{ user.passwd }}"
          
    serversTransports:
      mytransport:
        insecureSkipVerify: true

  routers:
    dashboard:
      rule: "Host(`{{ traefik_domain }}`)"
      service: dashboard@internal
      tls:
        certResolver: myresolver
      middlewares:
        - basicauth
    
    proxmox:
      rule: "Host(`{{ proxmox_domain }}`)"
      service: proxmox
      tls:
        certResolver: myresolver
      middlewares:
        - httpsonly
  
  services:
    proxmox:
      loadBalancer:
        servers:
          - url: "https://{{ proxmox.ip }}:{{ proxmox.port }}"
        passHostHeader: true
        serversTransport: mytransport